source https://www.nuget.org/api/v2
framework: net462

nuget Argu
nuget FAKE
nuget FSharp.Control.AsyncSeq
nuget FSharp.Core
nuget Newtonsoft.Json
nuget Newtonsoft.Json.Schema
nuget NodaTime
nuget Serilog
nuget Serilog.Extras.FSharp
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.ColoredConsole
nuget Serilog.Sinks.File
nuget SqlStreamStore
nuget SqlStreamStore.MsSql
nuget Suave