source https://www.nuget.org/api/v2
framework: net462

nuget Argu
nuget FAKE
nuget FSharp.Control.AsyncSeq
nuget FSharp.Core
nuget Ini-Parser
nuget Newtonsoft.Json
nuget NodaTime
nuget Serilog
nuget Serilog.Extras.FSharp
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.ColoredConsole
nuget Serilog.Sinks.File
nuget SqlStreamStore
nuget SqlStreamStore.MsSql
nuget Suave
nuget System.IdentityModel.Tokens.Jwt